<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport content="width=device-width,initial-scale=1">
<link rel=icon href='/zoom.ico'>
<title>Zoom OAuth Login</title>
<meta name="description" content="Zoom OAuth2 Login">
<link href='https://st1.zoom.us/static/5.0.94200/css/oauth2/chunk-vendors.min.css' rel="stylesheet">
<link href='https://st1.zoom.us/static/5.0.94200/css/oauth2/oauth2.min.css' rel="stylesheet">
</head>
<body>
<noscript>
<strong>We're sorry but oauth-login doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div class="px-6 pt-16 min-h-screen">
<div class="py-2 h-16 leading-loose px-6 shadow-sm clearfix bg-white-97 fixed w-full top-0 left-0 z-50" role="navigation">
<a role="navigation" aria-roledescription="Zoom Logo" href="/" class="float-left flex items-center h-full">
<img src='https://st1.zoom.us/static/5.0.94200/image/oauth2/new/logo.svg' style="height: 25px" alt="Zoom Logo">
<span class="hidden">Zoom</span>
</a>
<a href="/signup" class="cursor-pointer float-right py-2 text-base text-primary">Sign Up Free</a>
</div>
<div id="app"></div>
</div>
<script nonce="QPT4d_6SS7WXl-06zG2yHg" src="/csrf_js"></script>
<script nonce="QPT4d_6SS7WXl-06zG2yHg" type="text/javascript">
window.signPageConf = {
response_type : "code",
redirect_uri : "https://light-earwig-81.loca.lt/virtual-trainer/zoom/auth/callback/?state=222",
scope : "",
state : "",
client_id : "brvjozakT7KdWqYAz3alkQ",
code_challenge: "",
code_challenge_method: "",
google_login_Url : "\/oauth/google_login?client_id=brvjozakT7KdWqYAz3alkQ&response_type=code&redirect_uri=https%3A%2F%2Flight-earwig-81.loca.lt%2Fvirtual-trainer%2Fzoom%2Fauth%2Fcallback%2F%3Fstate%3D222",
facebook_login_Url : "\/oauth/facebook_login?client_id=brvjozakT7KdWqYAz3alkQ&response_type=code&redirect_uri=https%3A%2F%2Flight-earwig-81.loca.lt%2Fvirtual-trainer%2Fzoom%2Fauth%2Fcallback%2F%3Fstate%3D222",
sso_vanityUrl_base_domain : ".zoom.us",
oauthLoginCaptchaEnable : "true",
_signin_need_captcha : "true",
loadSmartCaptcha : "false",
isCaptchaHide : "false",
isCN : "false",
isSupportGoogleCaptcha : "true",
isSupportHcaptcha : "false",
hCaptchaSiteKey: "df6242b3-aef1-4156-bf8e-c5f258d9e602"
}
window.signPageConf.captchasource = "/captcha-image"
window.signPagei18n = {
"oauth2.signin": "Sign In",
"oauth2.signin.back": "Back",
"oauth2.signin.or": "or",
"oauth2.signin.email": "Email",
"oauth2.signin.password": "Password",
"oauth2.signin.email.invalid": "Your email address must be in the format of name@domain.com",
"oauth2.continue": "Continue",
"oauth2.company.domain": "Your company domain",
"oauth2.company.email": "Your email address",
"oauth2.signin.with.sso": "Sign in with SSO",
"oauth2.signin.with.google": "Sign in with Google",
"oauth2.signin.with.facebook": "Sign in with Facebook",
"oauth2.signin.sso.eg": "This could be your company's name. e.g. abc.zoom.us",
"oauth2.signin.sso.domain": "I know the company domain",
"oauth2.signin.sso.don.domain": "I don't know the company domain"
}
</script>
<script nonce="QPT4d_6SS7WXl-06zG2yHg" src='https://st1.zoom.us/static/5.0.94200/js/lib/jquery.min.js'></script>
<script nonce="QPT4d_6SS7WXl-06zG2yHg" src='https://st3.zoom.us/static/5.0.94200/js/lib/vue/vue.min.js'></script>
<script nonce="QPT4d_6SS7WXl-06zG2yHg" src='https://st3.zoom.us/static/5.0.94200/js/app/oauth2/chunk-vendors.min.js'></script>
<script nonce="QPT4d_6SS7WXl-06zG2yHg" src='https://st3.zoom.us/static/5.0.94200/js/app/oauth2/oauth2.min.js'></script>
</body>