<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>{{pageTitle}}</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group row">
              <label for="inputFullName" class="label col-sm-3 col-form-label">Nome</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth id="inputFullName" [formControl]="fullNameControl" required placeholder="Nome completo" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputNickName" class="label col-sm-3 col-form-label">Apelido</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth id="inputNickName" [formControl]="nicknameControl" required placeholder="Como gostaria de ser chamado?" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputEmail" class="label col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" nbInput fullWidth id="inputEmail" [formControl]="emailControl" required placeholder="seuemail@provedor.com.br" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputBirthDate" class="label col-sm-3 col-form-label">Data de nascimento</label>
              <div class="col-sm-9">
                <input type="date" nbInput fullWidth id="inputBirthDate" [formControl]="birthDateControl" required placeholder="01/01/1900" class="form-control">
               </div>
            </div>
            <div class="form-group row">
              <label for="inputCpf" class="label col-sm-3 col-form-label">CPF</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth id="inputCpf" [formControl]="cpfControl" required placeholder="999.999.999-99" class="form-control">
              </div>
            </div>
            <div class="form-group row">
                <label for="inputCnpj" class="label col-sm-3 col-form-label">CNPJ</label>
                <div class="col-sm-9">
                    <input type="text" nbInput fullWidth id="inputCnpj" [formControl]="cnpjControl" required placeholder="99.999.999/9999-99">
                </div>
            </div>
            <div class="form-group row">
              <label for="inputCellphone" class="label col-sm-3 col-form-label">Celular</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth id="inputCellphone" [formControl]="cellphoneControl" required placeholder="(99) 99999-9999" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputZoom" class="label col-sm-3 col-form-label">Zoom</label>
              <div class="col-sm-9">
                <input type="email" nbInput fullWidth id="inputZoom" [formControl]="zoomAccountControl" placeholder="seuemailnozoom@zoom.com" class="form-control">
              </div>
            </div>

            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" hero nbButton status="primary" (click)="save()">Salvar</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
</div>
  