<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">404 Página não encontrada</h2>
          <small class="sub-title">A página que você estava procurando não existe</small>
          <button nbButton fullWidth (click)="goToHome()" type="button" class="home-button">
            Página principal
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
