<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>CADASTRO DE AULÃO</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="inputTitle" class="label col-sm-3 col-form-label">Título</label>
            <div class="col-sm-9">
              <input id="inputTitle" type="text" nbInput fullWidth [formControl]="titleControl" required placeholder="Aulão sobre musculação, pilates, yoga, etc">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDescription" class="label col-sm-3 col-form-label">Descrição</label>
            <div class="col-sm-9">
              <input id="inputDescription" type="text" nbInput fullWidth [formControl]="descriptionControl" required placeholder="Fale mais sobre a aula...">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputStartTime" class="label col-sm-3 col-form-label">Data/Hora de início</label>
            <div class="col-sm-9">
              <input id="inputStartTime" type="datetime-local" nbInput fullWidth [formControl]="startTimeControl" required placeholder="01/01/1900 12:00" 
                [(min)]="minDateTime" (blur)="onStartTimeBlur($event)">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputDuration" class="label col-sm-3 col-form-label">Duração</label>
            <div class="col-sm-9">
              <input id="inputDuration" type="number" nbInput fullWidth [formControl]="durationControl" required placeholder="Máximo: 40 minutos" 
                min="5" max="40" (blur)="onDurationBlur($event)">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputType" class="label col-sm-3 col-form-label">Tipo</label>
            <div class="col-sm-9">
              <input id="inputType" type="text" nbInput fullWidth [formControl]="typeControl" required placeholder="Tipo da aula: Aulão, particular, etc">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCategories" class="label col-sm-3 col-form-label">Categoria</label>
            <div class="col-sm-9">
              <nb-select id="inputCategories" fullWidth [formControl]="categoriesControl" required [(selected)]="selectedCategory" (selectedChange)="categoryChanged($event)" placeholder="Selecione a categoria">
                <nb-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputFields" class="label col-sm-3 col-form-label">Área</label>
            <div class="col-sm-9">
              <nb-select id="inputFields" fullWidth [formControl]="fieldsControl" required [(selected)]="selectedField" placeholder="Selecione a área">
                <nb-option *ngFor="let field of fields" value="{{field.id}}">{{field.name}}</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" hero nbButton status="primary" (click)="save()">Salvar</button>
              <a target="_blank" hero nbButton status="primary" href="https://zoom.us/oauth/authorize?response_type=code&client_id=brvjozakT7KdWqYAz3alkQ&redirect_uri=https%3A//light-earwig-81.loca.lt/virtual-trainer/zoom/auth/callback/%3Fstate%3D222">Zoom error</a>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
