<div class="row">
    <div class="col-lg-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Buscar aulas</nb-card-header>
        <nb-card-body>
          <form class="form-inline">
            <div>
                <label for="inputCategories" class="label">Categoria</label>
                <nb-select id="inputCategories" fullWidth [formControl]="categoriesControl" required [(selected)]="selectedCategory" (selectedChange)="categoryChanged($event)" placeholder="Selecione a categoria">
                    <nb-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</nb-option>
                </nb-select>
            </div>

            <div>
                <label for="inputFields" class="label">Área</label>
                <nb-select id="inputFields" fullWidth [formControl]="fieldsControl" required [(selected)]="selectedField" placeholder="Selecione a área">
                    <nb-option *ngFor="let field of fields" value="{{field.id}}">{{field.name}}</nb-option>
                </nb-select>
            </div>

            <div>
                <label for="inputTrainers" class="label">Profissional</label>
                <nb-select id="inputTrainers" fullWidth [formControl]="trainersControl" required [(selected)]="selectedTrainer" placeholder="Selecione o instrutor">
                    <nb-option *ngFor="let trainer of trainers" value="{{trainer.id}}">{{trainer.fullName}}</nb-option>
                </nb-select>
            </div>

            <div>
                <label for="inputStartDate" class="label">Data inicial</label>
                <input id="inputStartDate" type="date" nbInput fullWidth [formControl]="startDateControl" required placeholder="01/01/1900 12:00" 
                    [(min)]="minDateTime" (blur)="onStartDateBlur($event)">
            </div>

            <div>
                <label for="inputEndDate" class="label">Data final</label>
                <input id="inputEndDate" type="date" nbInput fullWidth [formControl]="endDateControl" required placeholder="01/01/1900 12:00" 
                    [(min)]="minDateTime" (blur)="onEndDateBlur($event)">
            </div>

            <div>
                <label for="inputDuration" class="label">Duração</label>
                <input id="inputDuration" type="number" nbInput fullWidth [formControl]="durationControl" required placeholder="Máximo: 40 minutos" 
                    style="width: 13em;" min="5" max="40" (blur)="onDurationBlur($event)">
            </div>

            <button type="submit" nbButton status="primary" (click)="findClasses()">Buscar</button>
          </form>

        </nb-card-body>
      </nb-card>
      
      <nb-card>
        <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>
</div>